{:source-paths ["src"]
 ;;
 :dependencies [
                [funcool/promesa "5.0.0"]
               ]
 ;;
 :builds
 {:dev
  {:target :node-library
   :compiler-options {:infer-externs :auto}
   :exports {
             :activate clojure-colorizer.core/activate
             :deactivate clojure-colorizer.core/deactivate
            }
   :output-dir "lib/js"
   :output-to "lib/main.js"
   :devtools {:before-load-async clojure-colorizer.core/before}}}}
